.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 1px rgba(66, 65, 68, 0.09),  
                0 6px rgba(231, 230, 233, 0.1)   
                ;
    padding-left: 8%;
    padding-right: 8%;
    height: 90px;
    
}
.headerdraw{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
    padding-left: 8%;
    padding-right: 8%;
    height: 90px;
    
}
.header__left{
    border: 2px solid transparent;
    border-radius: 1rem;
    object-fit: contain;
    padding: 20px 10px 20px;    
    flex: 0;
}
.header__icon{
    
   height: 33px;
    
}

.header__center{
    margin-top: 10px ;
    background-color: white;
    display: flex;
    max-width: 40%;
    min-width: 200px;
    width: 400px;
    height: 50px;
    border: 1px solid rgba(66, 65, 68, .3) ;
    border-radius: 3rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px; 
    padding-right: 10px;
    flex:1;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header__centerLink{
    margin-top: 10px  !important;
   
    background-color: white !important;
    display: flex !important;
    max-width: 40% !important;
    min-width: 200px !important;
    width: 400px !important;
    height: 50px !important;
    align-items: center !important;
    align-items: center !important;
    justify-content: space-between !important ;
    align-items: center !important;
    padding-left: 20px  !important; 
    padding-right: 10px !important;
    flex:1 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.link_drawer {
   color: rgb(41, 40, 40) !important;
   padding-bottom: 5px;
   position: relative;
   display: inline-block;
}
.link_drawer:hover::before {
    content: "";
    border-bottom: 2px solid black !important;
    position: absolute !important;
    width: 5px !important;
    bottom: 0 !important;
    left: 45% !important;
    align-items: center;
}
.active::before{
    content: "";
    border-bottom: 2px solid black !important;
    position: absolute !important;
    width: 20px !important;
    bottom: 0 !important;
    left: 40% !important;
    align-items: center;
}
.active:hover::before{
  content: "";
    border-bottom: 2px solid black !important;
    position: absolute !important;
    width: 20px !important;
    bottom: 0 !important;
    left: 40% !important;
    align-items: center;
}

.link_drawer:hover{
    text-decoration: none !important;
}

.header__center:hover{
    box-shadow: 0 1px rgba(66, 65, 68, 0.09),
                0 6px rgba(122, 121 , 126, 0.1)   
                ;

}
.header__btntext{
    margin-top: 10px;
    object-fit: contain;
    font-size:  15px;
    font-weight: bold;
    align-items: center;
   
} 

.header__btnicon{
    background-color:#FF5A5F  ;
    color: white;
    height: 40px !important;
    width: 40px !important;
    border-radius: 2rem;
    padding-top: 5px;
    align-items: center;
    flex:0.15;
}
.header__right{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex:0;
}
.header__rightHost{
    display: flex;
    justify-items: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3rem;
    height: 46px;
    object-fit: contain;
    padding: 15px ;
    min-width: 120px;
}

.header__rightHost:hover{
    background-color: rgba(66, 65, 68, 0.09);
}
.header__rightHost > p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
 
}
.header__rightLanguage{
    display: flex;
   border: 1px solid transparent;
   align-items: center;
   justify-content: space-evenly;
   width: 80px;
   border-radius: 3rem;
   height: 46px;
   
}
.header__rightLanguage:hover{
    background-color: rgba(66, 65, 68, 0.09);
}
.header__rightAvatar{
   display: flex;
   align-items: center;
   border: 1px solid gray;
   border-radius: 3rem;
   /* width: 100px; */
   height: 46px;
   width: 80px;
   justify-content: space-evenly;
   margin-left: 5px;

    
}
.header__rightAvatar:hover{
    box-shadow: 0 1px rgba(66, 65, 68, 0.09),
                0 6px rgba(122, 121 , 126, 0.1)   
                ;

}
.menuicon{
   width: 20px !important;
   height: 20px !important;  
}
.avatar {
   width: 30px !important;
   height: 30px !important; 
}